version: "3.8"

services:
  amd-backend:
    #build:
    # context: ./jwt-ctf-backend
    # dockerfile: Dockerfile
    image: amahird/backend.dizci.ctf
    expose:
      - 7106
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    restart: unless-stopped
    networks:
      - jwt-amd
      - shared

  amd-frontend:
    image: amahird/frontend.dizci.ctf
    expose:
      - 80
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - jwt-amd
      - shared

networks:
  jwt-amd:
  shared:
    external: true
